<div class="container" ng-init="Person = {Show: false, Forename: 'Pierre', Surname: 'Henry', DOB: '1975-08-03'}">
    <oux>
        <oux-form heading="Claim Detail" load="apiClaim as Claim" save="apiClaimSave">
            <oux-input label="Forename" ng-model="Person.Forename" required="true"></oux-input>
            <oux-input label="Surname" ng-model="Person.Surname" required="true"></oux-input>
        </oux-form>
    </oux>
    {{oux.procedures["apiClaim"]}}
    <button type="button" ng-click="oux.execute('apiClaim')">Execute</button>

</div>
<pre>{{Person}}</pre>